* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* box-sizing: border-box; */
}

.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 600px) {
    body {
      flex-wrap: nowrap;
    }

    div {
      flex-basis: 100%;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: relative;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: relative;
}

/* nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
} */

/* .logo {
    width: 100px;
    cursor: pointer;
} */

/* nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
} */

.detel {
    margin-left: 50px;
    margin-top: 3%;
}

.detel h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span {
    color: orange;

}

/* .detel p {
    color: #555;
    line-height: 22px;
}

.detel a {
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
} */

@media (min-width: 600px) {
    .images {
        width: 45%;
        height: 40%;
        position: absolute;
        bottom: 80px;
        right: 100px;
        flex-wrap: nowrap;
        flex-basis: 33%;
    }
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    flex-wrap: nowrap;
    flex-basis: 33%;
}

.images:hover .shape {
    bottom: 40px;
}

.images:hover .person {
    left: 45%;
}

.social {
    margin-left: 50px;
    margin-top: 210px;
    letter-spacing: 5px;
}

.social a {
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

.social a:hover {
    color: orange;
}

/* -------------------- */

.navbar {
    overflow: hidden;
    /* background-color: #333; */
    display: flex;
    width: auto;
    margin: auto;
    padding: 20px;
    /* margin-left: 0%; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

.jumbotron  {
    background: #eff4fd;
    margin-left: -5%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #000;
    font-weight: bold;
    padding: 14px 50px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    font-weight: normal;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* -------------------- */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    background: #1e1e24;
    align-items: center;
    justify-content: center;
}

.btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans';
    text-transform: uppercase;
    margin-left: 7%;
    margin-top: 5%;
}

.btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}

.btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
}

.btn-flip:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
}